<header class="px-4 mx-auto mb-4 sm:max-w-xl text-center py-8">
    {% if site.about %}
      <div class="justify-center flex">
        <a class="link" href="{{ site.url }}/about">
            <img class="object-center rounded-full w-28 mb-3" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
        </a>
      </div>
    {% else %}
      <div class="justify-center flex">
        <span class="link">
            <img class="object-center rounded-full w-28 mb-3" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
        </span>
      </div>
    {% endif %}

    <h1 class="title">{{ site.name }}</h1>

    <h2 class="description">{{ site.bio }}</h2>

</header>
