{% comment %}{% raw %}
[[[cog
import cog
links = {
    "bsky.app": "fas fa-cloud",
    "dev.to": "fab fa-dev",
    "facebook.com": "fab fa-facebook",
    "flickr.com": "fab fa-flickr",
    "fosstodon.org": "fab fa-mastodon",
    "github.com": "fab fa-github",
    "gitlab.com": "fab fa-gitlab",
    "hub.docker.com": "fab fa-docker",
    "instagram.com": "fab fa-instagram",
    "last.fm": "fab fa-lastfm",
    "linkedin.com": "fab fa-linkedin",
    "mastodon.social": "fab fa-mastodon",
    "medium.com": "fab fa-medium",
    "open.spotify.com": "fab fa-spotify",
    "pinboard.in": "fas fa-thumbtack",
    "pinterest.com": "fab fa-pinterest",
    "quora.com": "fab fa-quora",
    "reddit.com": "fab fa-reddit",
    "stackoverflow.com": "fab fa-stackoverflow",
    "threads.net": "fas fa-at",
    "twitter.com": "fab fa-twitter",
    "vimeo.com": "fab fa-vimeo",
    "youtube.com": "fab fa-youtube",
    "mailto:": "fab fa-mail",
}
first = True
for link in links:
    if first:
        if_statement = "if"
    else:
        if_statement = "elsif"
    cog.outl(f'{{% {if_statement} include.link.url contains "{link}" %}}{{% capture css_class %}}{links[link]}{{% endcapture %}}')
    first = False
cog.outl("{% else %}{% capture css_class %}{% endcapture %}")
cog.outl("{% endif %}")
]]]{% endraw %}{% endcomment %}
{% if include.link.url contains "bsky.app" %}{% capture css_class %}fas fa-cloud{% endcapture %}
{% elsif include.link.url contains "dev.to" %}{% capture css_class %}fab fa-dev{% endcapture %}
{% elsif include.link.url contains "facebook.com" %}{% capture css_class %}fab fa-facebook{% endcapture %}
{% elsif include.link.url contains "flickr.com" %}{% capture css_class %}fab fa-flickr{% endcapture %}
{% elsif include.link.url contains "fosstodon.org" %}{% capture css_class %}fab fa-mastodon{% endcapture %}
{% elsif include.link.url contains "github.com" %}{% capture css_class %}fab fa-github{% endcapture %}
{% elsif include.link.url contains "gitlab.com" %}{% capture css_class %}fab fa-gitlab{% endcapture %}
{% elsif include.link.url contains "hub.docker.com" %}{% capture css_class %}fab fa-docker{% endcapture %}
{% elsif include.link.url contains "instagram.com" %}{% capture css_class %}fab fa-instagram{% endcapture %}
{% elsif include.link.url contains "last.fm" %}{% capture css_class %}fab fa-lastfm{% endcapture %}
{% elsif include.link.url contains "linkedin.com" %}{% capture css_class %}fab fa-linkedin{% endcapture %}
{% elsif include.link.url contains "mastodon.social" %}{% capture css_class %}fab fa-mastodon{% endcapture %}
{% elsif include.link.url contains "medium.com" %}{% capture css_class %}fab fa-medium{% endcapture %}
{% elsif include.link.url contains "open.spotify.com" %}{% capture css_class %}fab fa-spotify{% endcapture %}
{% elsif include.link.url contains "pinboard.in" %}{% capture css_class %}fas fa-thumbtack{% endcapture %}
{% elsif include.link.url contains "pinterest.com" %}{% capture css_class %}fab fa-pinterest{% endcapture %}
{% elsif include.link.url contains "quora.com" %}{% capture css_class %}fab fa-quora{% endcapture %}
{% elsif include.link.url contains "reddit.com" %}{% capture css_class %}fab fa-reddit{% endcapture %}
{% elsif include.link.url contains "stackoverflow.com" %}{% capture css_class %}fab fa-stackoverflow{% endcapture %}
{% elsif include.link.url contains "threads.net" %}{% capture css_class %}fas fa-at{% endcapture %}
{% elsif include.link.url contains "twitter.com" %}{% capture css_class %}fab fa-twitter{% endcapture %}
{% elsif include.link.url contains "vimeo.com" %}{% capture css_class %}fab fa-vimeo{% endcapture %}
{% elsif include.link.url contains "youtube.com" %}{% capture css_class %}fab fa-youtube{% endcapture %}
{% elsif include.link.url contains "mailto:" %}{% capture css_class %}fab fa-mail{% endcapture %}
{% else %}{% capture css_class %}{% endcapture %}
{% endif %}
{% comment %}[[[end]]]{% endcomment %}
