<div class="social-links">
    {% if site.dev %}
        <a class="link" data-title="dev.to/{{ site.dev }}" href="https://dev.to/{{ site.dev }}" rel="nofollow" target="_blank">
            <i class="fab fa-dev"></i>
        </a>
    {% endif %}

    {% if site.docker %}
        <a class="link" data-title="hub.docker.com/u/{{ site.docker }}" href="https://hub.docker.com/u/{{ site.docker }}" rel="nofollow" target="_blank">
            <i class="fab fa-docker"></i>
        </a>
    {% endif %}

    {% if site.twitter.username %}
        <a class="link" data-title="twitter.com/{{ site.twitter.username }}" href="https://twitter.com/{{ site.twitter.username }}" rel="nofollow" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    {% endif %}

    {% if site.facebook %}
        <a class="link" data-title="facebook.com/{{ site.facebook }}" href="https://facebook.com/{{ site.facebook }}" rel="nofollow" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
    {% endif %}

    {% if site.google %}
        <a class="link" data-title="plus.google.com/+{{ site.google }}" href="https://plus.google.com/+{{ site.google }}" rel="nofollow" target="_blank">
            <i class="fab fa-google"></i>
        </a>
    {% endif %}

    {% if site.instagram %}
        <a class="link" data-title="instagram.com/{{ site.instagram }}" href="https://instagram.com/{{ site.instagram }}" rel="nofollow" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
    {% endif %}

    {% if site.pinterest %}
        <a class="link" data-title="pinterest.com/{{ site.pinterest }}" href="https://pinterest.com/{{ site.pinterest }}" rel="nofollow" target="_blank">
            <i class="fab fa-pinterest"></i>
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}" href="https://www.linkedin.com/in/{{ site.linkedin }}" rel="nofollow" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
    {% endif %}

    {% if site.youtube %}
        <a class="link" data-title="youtube.com/{{ site.youtube }}" href="https://youtube.com/{{ site.youtube }}" rel="nofollow" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
    {% endif %}

    {% if site.spotify %}
        <a class="link" data-title="open.spotify.com/user/{{ site.spotify }}" href="https://open.spotify.com/user/{{ site.spotify }}" rel="nofollow" target="_blank">
            <i class="fab fa-spotify"></i>
        </a>
    {% endif %}

    {% if site.lastfm %}
        <a class="link" data-title="last.fm/user/{{ site.lastfm }}" href="https://last.fm/user/{{ site.lastfm }}" rel="nofollow" target="_blank">
            <i class="fab fa-lastfm"></i>
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" rel="nofollow" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    {% endif %}

    {% if site.gitlab %}
        <a class="link" data-title="gitlab.com/{{ site.gitlab }}" href="https://gitlab.com/{{ site.gitlab }}" rel="nofollow" target="_blank">
            <i class="fab fa-gitlab"></i>
        </a>
    {% endif %}

    {% if site.stackoverflow %}
        <a class="link" data-title="stackoverflow.com/users/{{ site.stackoverflow }}" href="https://stackoverflow.com/users/{{ site.stackoverflow }}" rel="nofollow" target="_blank">
            <i class="fab fa-stackoverflow"></i>
        </a>
    {% endif %}

    {% if site.quora %}
        <a class="link" data-title="quora.com/profile/{{ site.quora }}" href="https://www.quora.com/profile/{{ site.quora }}" rel="nofollow" target="_blank">
            <i class="fab fa-quora"></i>
        </a>
    {% endif %}

    {% if site.reddit %}
        <a class="link" data-title="reddit.com/user/{{ site.reddit }}" href="https://www.reddit.com/user/{{ site.reddit }}" rel="nofollow" target="_blank">
            <i class="fab fa-reddit"></i>
        </a>
    {% endif %}

    {% if site.medium %}
        <a class="link" data-title="medium.com/@{{ site.medium }}" href="https://medium.com/@{{ site.medium }}" rel="nofollow" target="_blank">
            <i class="fab fa-medium"></i>
        </a>
    {% endif %}

    {% if site.vimeo %}
        <a class="link" data-title="vimeo.com/{{ site.vimeo }}" href="https://vimeo.com/{{ site.vimeo }}" rel="nofollow" target="_blank">
            <i class="fab fa-vimeo"></i>
        </a>
    {% endif %}

    {% if site.lanyrd %}
        <a class="link" data-title="lanyrd.com/{{ site.lanyrd }}" href="https://lanyrd.com/{{ site.lanyrd }}" rel="nofollow" target="_blank">
            <i class="fab fa-microphone"></i>
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}">
            <i class="fab fa-mail"></i>
        </a>
    {% endif %}
</div>
