---
layout: default
---
{% include header.html %}

<main>
  {%- for section in site.data.links -%}
    <section class="link-group">
      {%- for link in section.links -%}
        {% include link-css-classes.html link=link %}
        <a
          href="{{ link.url }}"
          class="link-item"
          {% if link.nofollow %}rel="nofollow"{% endif %}
          {% if link.rel %}rel="{{ link.rel }}"{% endif %}
          target="_blank">
          <i class="{% if link.css_class %}{{ link.css_class }}{% else %}{{ css_class }}{% endif %}"></i>
          <span>{{ link.title }}</span>
        </a>
      {%- endfor -%}
    </section>
  {%- endfor -%}
</main>

{% include social-links.html %}

{% include footer.html %}
