---
layout: default
---
<section class="py-8 px-4 mx-auto mb-12 text-center sm:max-w-2xl">
  <div class="mt-16 md:mt-32"></div>

  <div class="flex justify-center">
    <span class="link">
      <img class="object-center mb-3 w-32 md:w-64 rounded-full" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
    </span>
  </div>

  <h1 class="text-3xl md:text-6xl font-semibold text-gray-100">{{ site.title }}</h1>

  {% if site.bio %}
    <h2 class="mt-8 md:mt-12 text-2xl md:text-4xl font-semibold text-gray-100">{{ site.bio }}</h2>
  {% endif %}

  <h2 class="mt-8 md:mt-12 text-2xl md:text-5xl font-semibold text-gray-100 break-all">{{ site.url }}</h2>
</section>
